<%if flash[:notice]%>
    <div class="notice" align="center">
      <h2><font color="green"><%=flash[:notice]%></font></h2><hr/>
    </div>
<%end%>
<h1>Welcome</h1>
<h3>Your options are on the left, please choose one and continue from there!</h3>
